<div class="container-fluid">			
	<div class="card">
		<div class="card-header">
		  Kanban
		</div>
		<ul class="list-group list-group-flush">
			<!-- Optionen -->
			<li class="list-group-item">
				<div class="card">
					<div class="card-header">
						Optionen
					</div>
					<div class="card-text m-2">
						<div class="row">
							<div class="col-lg-4">
								<div class="form-group">
									<label for="Sortieren">Sortieren:</label>
									<select class="form-control" id="Sortieren">
									  <option>Benutzereinstellung</option>
									  <option>Änderungsdatum ↓</option>
									  <option>Änderungsdatum ↑</option>
									  <option>Priorität ↑</option>
									  <option>Priorität ↓</option>
									  <option>Fälligkeitsdatum angegeben</option>
									</select>
								 </div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="Label">Label:</label>
									<select class="form-control" id="Label">
									  <option>Alle</option>
									  <option>VWL</option>
									  <option>Statistik</option>
									  <option>Agiles Projektmanagement</option>
									</select>
								 </div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="Zusammenarbeit">Zusammenarbeit:</label>
									<select class="form-control" id="Zusammenarbeit">
									  <option>Alle</option>	
									  <option>geteilte Aufgaben</option>
									  <option>nicht geteilte Aufgaben</option>
									</select>
								 </div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<!-- Kanban-Board -->
			<app-kanbanboard></app-kanbanboard>
		</ul>
	</div>	
</div>