<app-taskedit (saveUpdate)="refreshBoard()"></app-taskedit>
<li class="list-group-item">
    <div class="card" (window:resize)="sizeKan()">
        <!-- only visible on screens smaller than lg -->
        <div class="card-header d-block d-lg-none">
            <div class="form-group">
                <select onChange="chooseSwimlane()" class="form-control" id="swimlane">
                  <option selected>Swimlane auswählen</option>
                  <option value="To Do">To Do</option>
                  <option value="In Arbeit">In Arbeit</option>
                  <option value="Fertig">Fertig</option>
                </select>
              </div>
        </div>
        <div class="row">
            <div class="col-lg-4" id="todo">
                <div class="card kan-bg m-2">
                    <div class="card-subtitle text-center text-uppercase mt-2">
                        To Do
                    </div>
                    <div  class="items" >
                      <div  class="dropzone rounded" ondrop="drop(event)," ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                      <div *ngFor="let task of toDo">
                      <div class="card shadow m-2 draggable" id="cd6" draggable="true" ondragstart="drag(event)">
                          <div class="card-body p-2" >
                              <div class="card-title">
                                <span data-toggle="modal" data-target="#editTask"></span>
                                  <span class="font-italic text-info idTask" style="font-size: 10px">{{task.id}}</span>&nbsp;&nbsp;
                                  <div class="btn-group dropright">
                                    <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                      </svg>
                                    </button>
                                    <div class="dropdown-menu">
                                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#editTask" (click)="onClick($event)">
                                        Aufgabe bearbeiten
                                      </button>
                                      <button type="button" class="dropdown-item"  (click)="deleteTask($event)">
                                        <span class="text-danger">Aufgabe löschen</span>
                                      </button>
                                    </div>
                                  </div>
                                  <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                      <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                  </svg>
                              </div>
                              <div data-toggle="modal" data-target="#editTask" (click)="onClick($event)">
                              {{task.title}}
                              <p *ngIf="task.dueDate" class ="card-text">{{task.dueDate[2]}}.{{task.dueDate[1]}}.{{task.dueDate[0]}}</p>
                              </div>
                          </div>					
                      </div>
                      <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                    </div>
                      <div class="form-group ml-2 mr-2 shadow">
                          <input (keyup.enter)="addNewTaskTodo()" type="text" class="form-control" id="tasktitle" placeholder="+ Aufgabe hinzufügen...">
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block" id="inarbeit">
                <div class="card kan-bg m-2">
                    <div class="card-subtitle text-center text-uppercase mt-2">
                        In Arbeit
                    </div>
                    <div class="items">
                      <div  class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                      <div *ngFor="let task of wip">
                      <div  class="card shadow m-2 draggable" id="cd6" draggable="true" ondragstart="drag(event)">
                          <div class="card-body p-2">
                              <div class="card-title">
                                <span data-toggle="modal" data-target="#editTask"></span>
                                  <span class="font-italic text-info idTask" style="font-size: 10px">{{task.id}}</span>&nbsp;&nbsp;
                                  <div class="btn-group dropright">
                                    <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                      </svg>
                                    </button>
                                    <div class="dropdown-menu">
                                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#editTask" (click)="onClick($event)">
                                        Aufgabe bearbeiten
                                      </button>
                                      <button type="button" class="dropdown-item"  (click)="deleteTask($event)">
                                        <span class="text-danger">Aufgabe löschen</span>
                                      </button>
                                    </div>
                                  </div>
                                  <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                      <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                  </svg>
                              </div>
                              <div data-toggle="modal" data-target="#editTask" (click)="onClick($event)">
                                {{task.title}}
                                <p *ngIf="task.dueDate" class ="card-text">{{task.dueDate[2]}}.{{task.dueDate[1]}}.{{task.dueDate[0]}}</p>
                                </div>
                          </div>					
                      </div>
                      <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                    </div>
                      
                        </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block" id="fertig">
                <div class="card kan-bg m-2">
                    <div class="card-subtitle text-center text-uppercase mt-2">
                        Fertig
                    </div>
                    <div class="items">
                      <div  class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                      <div *ngFor="let task of done">
                      <div   class="card shadow m-2 draggable" id="cd6" draggable="true" ondragstart="drag(event)">
                          <div class="card-body p-2" >
                              <div class="card-title" >
                                <span data-toggle="modal" data-target="#editTask"></span>
                                  <span class="font-italic text-info idTask" style="font-size: 10px">{{task.id}}</span>&nbsp;&nbsp;
                                  <div class="btn-group dropright">
                                    <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                      </svg>
                                    </button>
                                    <div class="dropdown-menu">
                                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#editTask" (click)="onClick($event)">
                                        Aufgabe bearbeiten
                                      </button>
                                      <button type="button" class="dropdown-item"  (click)="deleteTask($event)">
                                        <span class="text-danger">Aufgabe löschen</span>
                                      </button>
                                    </div>
                                  </div>
                                  <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                      <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                  </svg>
                              </div>
                              <div data-toggle="modal" data-target="#editTask" (click)="onClick($event)">
                                {{task.title}}
                                <p *ngIf="task.dueDate" class ="card-text">{{task.dueDate[2]}}.{{task.dueDate[1]}}.{{task.dueDate[0]}}</p>
                              </div>
                          </div>					
                      </div>
                      <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                    </div>
                      
                        </div>
                </div>
            </div>
          </div>
        </div>	
</li>