<div (window:resize)="sizeKan()" class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
          <div class="card mb-3">
              <div class="card-header">
                  <span class="row">
                      <span class="col-6">
                          Kanban-Board
                      </span>
                      <span class="col-6">
                          <!-- only visible on screens smaller than lg -->
                           <div class="form-group d-block d-lg-none">
                              <select onChange="chooseSwimlane()" class="form-control" id="swimlane">
                                <option selected>Swimlane auswählen</option>
                                <option value="To Do">To Do</option>
                                <option value="In Arbeit">In Arbeit</option>
                                <option value="Fertig">Fertig</option>
                              </select>
                            </div>
                      </span>
                  </span>
              </div>
              <div class="row">
                  <div class="col-lg-4" id="todo">
                      <div class="card kan-bg m-2">
                          <div class="card-subtitle text-center text-uppercase mt-2">
                              To Do
                          </div>
                          <div class="items">
                              <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                              <div class="card shadow m-2 draggable" id="cd3" draggable="true" ondragstart="drag(event)">
                                  <div class="card-body p-2" data-toggle="modal" data-target="#editTask">
                                      <div class="card-title">
                                          <span class="font-italic text-info">
                                          #003&nbsp;&nbsp;&nbsp;
                                          </span>
                                          <div class="btn-group dropright">
                                            <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                              </svg>
                                            </button>
                                            <div class="dropdown-menu">
                                               <button type="button" class="dropdown-item" data-toggle="modal" data-target="#editTask">
                                                Aufgabe bearbeiten
                                               </button>
                                               <a class="dropdown-item" href="#"><span class="text-danger">Aufgabe löschen</span></a>
                                            </div>
                                          </div>
                                          <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                              <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                          </svg>
                                      </div>
                                      Titel einer Aufgabe
                                  </div>					
                              </div>
                              <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                              <div class="card shadow m-2 draggable" id="cd6" draggable="true" ondragstart="drag(event)">
                                  <div class="card-body p-2">
                                      <div class="card-title">
                                          <span class="font-italic text-info">
                                          #006&nbsp;&nbsp;&nbsp;
                                          </span>
                                          <div class="btn-group dropright">
                                            <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                              </svg>
                                            </button>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item" href="#">Aufgabe bearbeiten</a>
                                                <a class="dropdown-item" href="#"><span class="text-danger">Aufgabe löschen</span></a>
                                            </div>
                                          </div>
                                          <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                              <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                          </svg>
                                      </div>
                                      Titel einer Aufgabe
                                      <p class ="card-text">Mi, 08:15 Uhr</p>
                                  </div>					
                              </div>
                              <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                              <div class="form-group ml-2 mr-2 shadow">
                                  <input type="text" class="form-control" id="tasktitle" placeholder="+ Aufgabe hinzufügen...">
                                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block" id="inarbeit">
                      <div class="card kan-bg m-2">
                          <div class="card-subtitle text-center text-uppercase mt-2">
                              In Arbeit
                          </div>
                          <div class="items">
                              <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                              <div class="card shadow m-2 draggable" id="cd2" draggable="true" ondragstart="drag(event)">
                                  <div class="card-body p-2">
                                      <div class="card-title">
                                          <span class="font-italic text-info">
                                          #002&nbsp;&nbsp;&nbsp;
                                          </span>
                                          <div class="btn-group dropright">
                                            <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                              </svg>
                                            </button>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item" href="#">Aufgabe bearbeiten</a>
                                                <a class="dropdown-item" href="#"><span class="text-danger">Aufgabe löschen</span></a>
                                            </div>
                                          </div>
                                          <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                              <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                          </svg>
                                      </div>
                                      Titel einer Aufgabe
                                      <p class ="card-text">Fr, 09:30 Uhr</p>
                                  </div>					
                              </div>
                              <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                              <div class="card shadow m-2 draggable" id="cd4" draggable="true" ondragstart="drag(event)">
                                  <div class="card-body p-2">
                                      <div class="card-title">
                                          <span class="font-italic text-info">
                                          #004&nbsp;&nbsp;&nbsp;
                                          </span>
                                          <div class="btn-group dropright">
                                            <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                              </svg>
                                            </button>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item" href="#">Aufgabe bearbeiten</a>
                                                <a class="dropdown-item" href="#"><span class="text-danger">Aufgabe löschen</span></a>
                                            </div>
                                          </div>
                                          <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                              <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                          </svg>
                                      </div>
                                      Titel einer Aufgabe
                                  </div>					
                              </div>
                              <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                              <div class="card shadow m-2 draggable" id="cd5" draggable="true" ondragstart="drag(event)">
                                  <div class="card-body p-2">
                                      <div class="card-title">
                                          <span class="font-italic text-info">
                                          #005&nbsp;&nbsp;&nbsp;
                                          </span>
                                          <div class="btn-group dropright">
                                            <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                              </svg>
                                            </button>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item" href="#">Aufgabe bearbeiten</a>
                                                <a class="dropdown-item" href="#"><span class="text-danger">Aufgabe löschen</span></a>
                                            </div>
                                          </div>
                                          <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                              <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                          </svg>
                                      </div>
                                      Titel einer Aufgabe
                                      <p class ="card-text">Fr, 09:30 Uhr</p>
                                  </div>					
                              </div>
                              <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block" id="fertig">
                      <div class="card kan-bg m-2">
                          <div class="card-subtitle text-center text-uppercase mt-2">
                              Fertig
                          </div>
                          <div class="items">
                              <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                          <div class="card shadow m-2 draggable" id="cd1" draggable="true" ondragstart="drag(event)">
                              <div class="card-body p-2">
                                  <div class="card-title">
                                      <span class="font-italic text-info">
                                      #001&nbsp;&nbsp;&nbsp;
                                      </span>
                                      <div class="btn-group dropright">
                                        <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                          </svg>
                                        </button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">Aufgabe bearbeiten</a>
                                            <a class="dropdown-item" href="#"><span class="text-danger">Aufgabe löschen</span></a>
                                        </div>
                                      </div>
                                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                          <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                      </svg>
                                  </div>
                                  Titel einer Aufgabe
                                  </div>					
                              </div>
                              <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                          </div>
                      </div>
                  </div>
            </div>
          </div>
      </div>
     
      <div class="col-lg-3">
          <div class="card">
              <div class="card-header">
                  Vorlesungen
              </div>
              <div class="card m-2">
                  <div class="card-header">
                      Heute
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item schedule">ABWL-Steuern u. Bilanzen<br>
                          08:15 bis 12:15 Uhr
                      </li>
                      <li class="list-group-item schedule">Einführung Web-Appl.<br>
                          13:00 bis 17:15 Uhr</li>
                  </ul>
              </div>
              <div class="card m-2">
                  <div class="card-header">
                      Morgen
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item schedule">Einführung Web-Appl.<br>
                          08:15 bis 12:15 Uhr
                      </li>
                      <li class="list-group-item schedule">Statistik<br>
                          13:00 bis 17:00 Uhr
                      </li>
                  </ul>
              </div>
              <div class="card m-2">
                  <div class="card-header">
                    Freitag
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item schedule">Digitale Transformation<br>
                          09:00 bis 12:15 Uhr
                      </li>
                  </ul>
              </div>
          </div>
          <div class="card mt-3">
              <div class="card-header">
                  Musik
              </div>				  	
              <div class="row">
                  <div class="col-3 card-img">
                      <img src="../../../assets/images/500x500.jpg" alt="Album cover" width="80px" height="auto" class="shrink">
                  </div>
                  <div class="col-6 text-center">
                      Music to Study<br>
                      John Doe <br>
                      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-skip-backward-fill shrink" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V4a.5.5 0 0 0-.5-.5z"/>
                          <path d="M.904 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.692-1.01-1.233-.696L.904 7.304a.802.802 0 0 0 0 1.393z"/>
                          <path d="M8.404 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.693-1.01-1.233-.696L8.404 7.304a.802.802 0 0 0 0 1.393z"/>
                      </svg>&nbsp;
                      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-skip-forward-fill shrink" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                          <path d="M7.596 8.697l-6.363 3.692C.693 12.702 0 12.322 0 11.692V4.308c0-.63.693-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                          <path d="M15.096 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.693-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                      </svg>
                  </div>
                  <div class="col-3 my-auto">
                      <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-caret-right-fill shrink" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                      </svg>
                  </div>
              </div>
          </div>
        </div>

    <!--
          Modales Menü für die Aufgabenbearbeitung
      -->
      

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editTask">
            Launch demo modal
          </button>

          <!-- Modal -->
          <div class="modal fade" id="editTask" tabindex="-1" role="dialog" aria-labelledby="editTask" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editTask">Aufgabe bearbeiten</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="card col-md-12 col-lg-9">
                          <form class="form-horizontal">
                              <div class="form-group">
                                  <div class="card shadow m-sm-1"> 
                                      <div class="row">
                                          <div class="col-auto">
                                              <h4>&nbsp;
                                                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-font" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                                                      <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3zm1.443 3H5.057L5 8h.5c.18-1.096.356-1.192 1.694-1.235l.293-.01v5.09c0 .47-.1.582-.898.655v.5H9.41v-.5c-.803-.073-.903-.184-.903-.654V6.755l.298.01c1.338.043 1.514.14 1.694 1.235h.5l-.057-2z"/>
                                                  </svg>
                                                  Titel
                                              </h4>
                                          </div>
                                          <div class="col-auto">
                                              <button type="button" class="btn btn-outline-primary btn-sm">Bearbeiten</button>
                                          </div>
                                          <div class="col-auto text-sm-right">
                                              <h5>
                                                  <span class="text-muted"><small>erstellt 05 Nov 2020</small></span>
                                                  <span class="badge badge-info">#003</span>
                                              </h5>
                                          </div>
                                      </div>	
                                      <div class="form-group container-fluid">
                                          <textarea class="form-control" id="exampleFormControlTitel" rows="3" placeholder="Titel eingeben..."></textarea>
                                      </div>
                                  </div>
                                  <div class="card shadow m-sm-1"> 
                                      <div class="row">
                                          <div class="col-auto">
                                              <h4>&nbsp;
                                                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-justify-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                      <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                                                  </svg>
                                                  Beschreibung
                                              </h4>
                                          </div>
                                          <div class="col-auto">
                                              <button type="button" class="btn btn-outline-primary btn-sm">Bearbeiten</button>
                                          </div>
                                      </div>
                                      <div class="form-group container-fluid">
                                          <textarea class="form-control" id="exampleFormControlDescription" rows="3" placeholder="Aufgabenbeschreibung eingeben..."></textarea>
                                      </div>
                                  </div>
                                  <div class="card shadow m-sm-1"> 
                                      <div class="row">
                                          <div class="col-auto">
                                              <h4>&nbsp;
                                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-right-dots" fill="black" xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd" d="M2 1h12a1 1 0 0 1 1 1v11.586l-2-2A2 2 0 0 0 11.586 11H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                                                  <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                              </svg>
                                              Kommentar eingeben
                                              </h4>
                                          </div>
                                          <div class="col-auto">
                                              <button type="button" class="btn btn-outline-primary btn-sm">Bearbeiten</button>
                                          </div>
                                      </div>
                                      <div class="form-group shadow-textarea container-fluid">
                                          <textarea class="form-control z-depth-1" id="exampleFormControlEXAMPLE" rows="3" placeholder="Kommentar eingeben..."></textarea>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                      <div class="card col-md-12 col-lg-3">
                          <div class="card m-1 shadow">
                              <div class="form-group">
                                  <div class="card-body">
                                      <h5>
                                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-files" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" d="M4 2h7a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4z"/>
                                              <path d="M6 0h7a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1H4a2 2 0 0 1 2-2z"/>
                                          </svg>
                                          Swimlane
                                      </h5>
                  <!--
                                      <div class="col-sm-12">
                                          <select class="form-control">
                                              <option selected="">Aktuelle Swimlane</option>
                                              <option>TO DO</option>
                                              <option>IN ARBEIT</option>
                                              <option>FERTIG</option>
                                          </select>
                                      </div> 
                  -->
                                      <div class="m-2">
                                          <div class="custom-control custom-radio">
                                              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                              <label class="custom-control-label" for="customRadio1">To Do</label>
                                          </div>
                                          <div class="custom-control custom-radio">
                                              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                              <label class="custom-control-label" for="customRadio2">In Arbeit</label>
                                          </div>
                                          <div class="custom-control custom-radio">
                                              <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                              <label class="custom-control-label" for="customRadio3">Fertig</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card m-1 shadow">
                              <div class="card-body">
                                  <h5>
                                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                      </svg>
                                      Mitarbeiter
                                  </h5>
                                  <div class="card">
                                      <div class="row">
                                          <div class="m-1 col-auto">
                                              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                  <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                              </svg>
                                          </div>
                                          <div class="m-1">
                                              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-square float-right" fill="black" xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                  <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                              </svg>
                                          </div>
                                      </div>
                                  </div>
                                  <button type="button" class="btn btn-outline-primary">Mitarbeiter hinzufügen</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                  <button type="button" class="btn btn-primary">Änderungen speichern</button>
              </div>
          </div>
   </div>
  </div>
