
  <nav>
    <div class="sidebar-header">
      <h3>Learning Dashboard</h3>
      <strong>LD</strong>
    </div>
    <ul class="list-unstyled">
      <li class="active">
          <a [routerLink] = "['/start']">
              <i></i>
              <span data-toggle="tooltip" data-placement="top" title="Start">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill sidebar-svg" fill="white" xmlns="http://www.w3.org/2000/svg" >
                    <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  </svg>
                  <span class="sidebar-text">Start</span>
              </span>
          </a>
      </li>
      <li>
          <a [routerLink] = "['/lernen']"> 
              <i></i>
              <span data-toggle="tooltip" data-placement="top" title="Lernen">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pie-chart-fill sidebar-svg" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
                  </svg>
                  <span class="sidebar-text">Lernen</span>
              </span>
          </a>
      </li>
      <li>
          <a [routerLink] = "['/kanban']">
              <i></i>
              <span data-toggle="tooltip" data-placement="top" title="Kanban">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-kanban-fill sidebar-svg" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-11zm5 2a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-1zm-5 1a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3zm9-1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-1z"/>
                  </svg>
                  <span class="sidebar-text">Kanban</span>
              </span>
          </a>
      </li>
      <li>
          <a [routerLink] = "['/vorlesungen']"> 
              <i></i>
              <span data-toggle="tooltip" data-placement="top" title="Vorlesungen">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-week-fill sidebar-svg" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                  </svg>
                  <span class="sidebar-text">Vorlesungen</span>
              </span>
          </a>
      </li>
    </ul>
    <a (click)="onLogout()" class="btn btn-light logout-btn">Abmelden</a>
  </nav>
  
