<div class="container-fluid">			
    <h1>Zeitraum</h1>
        <div class="card m-2">
            <div class="card-header">
                Optionen
            </div>
            <div class="card-text mt-3 ml-3 mr-3">
                <div class="row">
                    <div class="col-4 my-auto">
                       <mat-form-field appearance="fill">
                        <mat-label>Zeitraum von</mat-label>
                        <input matInput [matDatepicker]="startdate">
                        <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                        <mat-datepicker #startdate></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4 my-auto">
                        <mat-form-field appearance="fill">
                          <mat-label>Zeitraum bis</mat-label>
                          <input matInput [matDatepicker]="enddate">
                          <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                          <mat-datepicker #enddate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4 my-auto">
                      <mat-form-field appearance="fill">
                        <mat-label>Semester</mat-label>
                        <select matNativeControl>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                      </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <br>
    <h1>Lernstatistik</h1>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Fach</th>
                          <th scope="col">Dauer</th>
                          <th scope="col">Anteil am Ganzen</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">VWL</th>
                          <td>3h 25min</td>
                          <td>28%</td>
                        </tr>
                        <tr>
                          <th scope="row">Statistik</th>
                          <td>4h 55min</td>
                          <td>41%</td>
                        </tr>
                        <tr>
                          <th scope="row">Agiles Projektmanagement</th>
                          <td>3h 44min</td>
                          <td>31%</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <!--hidden on screens smaller than sm-->
                <div class="col-lg-6 d-none d-sm-block">
                    <div id="divChart">
                    <canvas id="PieChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>