<div class="container-fluid">			
    <div class="card">
        <div class="card-header">
            Vorlesungen
        </div>
        <ul class="list-group list-group-flush">
            <!-- Optionen -->
            <li class="list-group-item">
                <div class="card m-2">
                    <div class="card-header">
                        Optionen
                    </div>
                    <div class="card-text mt-3 ml-3 mr-3">
                        <div class="row">
                            <div class="col-lg-3 my-auto">
                                <mat-form-field appearance="fill">
                                    <mat-label>Vorlesungen vom:</mat-label>
                                    <input matInput [matDatepicker]="startdate">
                                    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                                    <mat-datepicker #startdate></mat-datepicker>
                                  </mat-form-field>
                            </div>
                            <div class="col-lg-3 my-auto">
                                <mat-form-field appearance="fill">
                                    <mat-label>bis:</mat-label>
                                    <input matInput [matDatepicker]="enddate">
                                    <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                                    <mat-datepicker #enddate></mat-datepicker>
                                  </mat-form-field>
                            </div>
                            <div class="col-lg-3 my-auto">
                                <form>
                                    <mat-form-field>
                                      <input type="text"
                                             placeholder="Kurs"
                                             aria-label="Kurs"
                                             matInput
                                             [formControl]="myControl"
                                             [matAutocomplete]="auto">
                                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                      </mat-autocomplete>
                                    </mat-form-field>
                                  </form>
                            </div>
                            <div class="col-lg-3 my-auto">
                                <!-- (click) = func() -->
                                <button class="btn btn-info">Aktualisieren</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- einzelne Vorlesungen -->
            <li class="list-group-item">
                <div class="card m-2">
                    <div class="card-header">
                        Mittwoch, 21. Oktober 2020
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item schedule">ABWL-Steuern u. Bilanzen<br>
                            08:15 bis 12:15 Uhr
                        </li>
                        <li class="list-group-item schedule">Einführung Web-Appl.<br>
                            13:00 bis 17:15 Uhr</li>
                    </ul>
                </div>
                <div class="card m-2">
                    <div class="card-header">
                        Donnerstag, 22. Oktober 2020
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item schedule">Einführung Web-Appl.<br>
                            08:15 bis 12:15 Uhr
                        </li>
                        <li class="list-group-item schedule">Statistik<br>
                            13:00 bis 17:00 Uhr
                        </li>
                    </ul>
                </div>
                <div class="card m-2">
                    <div class="card-header">
                      Freitag, 23. Oktober 2020
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item schedule">Digitale Transformation<br>
                            09:00 bis 12:15 Uhr
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>