  <!-- right part (login mask) -->
  
    <div class="col-sm-8 mx-auto">
    <h1 class="text-white display-4">Anmelden</h1>
    <br>
    <form>
      <div class="form-group">
      <input autofocus required type="email" class="form-control" id="Email-Login" placeholder="E-Mail-Adresse">
      </div>
      <div class="form-group">
      <input required type="password" class="form-control" id="Password-Login" placeholder="Passwort">
      <!-- Passwort im Klartext anzeigen -->
       <div class="text-white">
        <input type="checkbox" (click)="showPassword1L()">&nbsp;Passwort anzeigen
        </div>
      </div>
      <div class="text-right text-white">
          <button type="submit" class="btn btn-primary btn-lg">Anmelden</button>
        <br><br>
          <a [routerLink] = "['/Registrieren']" class="text-white"><h5>Registrieren</h5></a>
      </div>
    </form>
   </div>